$unit-tiny:4px;
$unit-small:$unit-tiny *2;
$unit:$unit-small *2;
$unit-large:$unit *2;
$unit-huge:$unit-large *2;

$border-radius:4px;
$main-color:#222;
$secondary-color:#aaa;
$download-link: #4896ff;

